.card {
  background-color: #fff,
  border-radius: 0.5rem,
  padding: 2rem,
  width: 18rem,
  height: 24rem,
  textAlign: center,
  margin: 1.5rem,
  boxShadow: 0px 10px 27px -9px,
},

.cardImage {
  width: 14rem,
  objectFit: center,
  borderRadius: 0.2rem,
},

.cardText {
  font-weight: 400,
  color: gray,
  fontSize: 14px,
  lineHeight: 1.8,
  fontFamily: Playfair Display,
  marginBottom: 0.8rem,
  marginBlockStart: 1em,
  marginBlockEnd: 1em,
},

cardTitle: {
  fontWeight: 400,
  fontSize: 26px,
  color: #000000,
  fontFamily: serif,
  marginBlockStart: 1em,
  marginBlockEnd: 1em,
  marginnBottom: 0.4rem,
},